In [1]:
#Load libraries
import pandas as pd
import os
import pymongo as pymongo
from pymongo import MongoClient
import pprint
import json
from bson import BSON

In [2]:
# Install pymongo library
#!pip install pymongo

In [3]:
#Set working directory
os.chdir("C:\\Users\\bvrav\\OneDrive\\Desktop\\Data Science\\Data collection")

In [4]:
#Check current working directory
os.getcwd()

'C:\\Users\\bvrav\\OneDrive\\Desktop\\Data Science\\Data collection'

In [5]:
# Connect to the MongoDB, change the connection string per your MongoDB environment
Channel = MongoClient(port=27017)

In [6]:
# Set the db object to point to the business database
Select_db = Channel.ravidatabase

In [7]:
# Inspect all the collections in mongodb
Collection_Names = Select_db.list_collection_names(include_system_collections = False)

In [8]:
Collection_Names

['user', 'salescars']

In [9]:
# Set collection name
Select_collection = Select_db.user

In [10]:
# Extract first document
pprint.pprint(Select_collection.find_one())

{'Month': '2016-01', 'Sales': 266, '_id': ObjectId('5edd3cd69775ab7639950db8')}

In [11]:
# Extract data from mongodb
# Create json file
cursor = Select_collection.find()

In [12]:
# Convert json into pandas
result = pd.DataFrame(list(cursor))

In [13]:
result.head()

                        _id    Month  Sales
0  5edd3cd69775ab7639950db8  2016-01    266
1  5edd3cd69775ab7639950db9  2016-02    146
2  5edd3cd69775ab7639950dba  2016-03    183
3  5edd3cd69775ab7639950dbb  2016-04    119
4  5edd3cd69775ab7639950dbc  2016-05    180

In [16]:
# Store csv into mongodb
NewData = pd.read_csv("C:\\temp\\sales-cars.csv")

In [17]:
import pymongo

In [18]:
def import_content(filepath):
    mng_client = pymongo.MongoClient('localhost', 27017)
    mng_db = mng_client['ravidatabase'] 
    collection_name = 'salescars' 
    db_cm = mng_db[collection_name]
    cdir = os.path.dirname("__file__")
    file_res = os.path.join(cdir, filepath)

    data = pd.read_csv(file_res)
    data_json = json.loads(data.to_json(orient='records'))
    db_cm.delete_many({})
    db_cm.insert_many(data_json)

In [19]:
Collection_Names = Select_db.list_collection_names(include_system_collections = False)

In [ ]:
# Drop collections
Select_db.Titanic_Dataset.drop()

In [20]:
if __name__ == "__main__":
  filepath = 'C:/temp/sales-cars.csv' 
  import_content(filepath)

In [21]:
Collection_Names = Select_db.list_collection_names(include_system_collections = False)

In [ ]:
Collection_Names